<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clean</key>
	<dict>
		<key>label</key>
		<string>Clean</string>
	</dict>
	<key>messy</key>
	<dict>
		<key>label</key>
		<string>Messy</string>
	</dict>
</dict>
</plist>
